<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
   
   
   <bean id="demoBean" class="org.itnow.cursoSpring.claseUno.models.DemoBean">
   	   <property name="texto" value="Hola Mundo Spring (Mi primer Bean)"/>
   </bean>
   

   <bean id="clienteService" class="org.itnow.cursoSpring.claseUno.services.ClienteService">
       <property name="repository" ref="clienteRepository" />
   </bean>
   
   <bean id="clienteRepository" class="org.itnow.cursoSpring.claseUno.repository.ClienteMockRepository">
   		<constructor-arg ref="logger"/>
   </bean>
   
   <bean id="logger" class="org.itnow.cursoSpring.claseUno.utils.DummyLogger"/>
    
</beans>