<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="repositoryPersonaje" class="org.indra.claseOnce.persistence.PersonajeRepository" />

    <bean id="servicePersonaje" class="org.indra.claseOnce.services.PersonajeService" >
    	<property name="repository" ref="repositoryPersonaje" />
    </bean>	
</beans>
