<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
  <session-factory>
     <property name="dialect">org.sqlite.hibernate.dialect.SQLiteDialect</property>
     <property name="connection.url">jdbc:sqlite:persona.db</property>
     <property name="connection.driver_class">org.sqlite.JDBC</property>
     <mapping resource="persona.hbm.xml"></mapping>
  </session-factory>
</hibernate-configuration>